<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Anonymous Peer-to-Peer Video Conferencing" />
    <title>Stella</title>
    <link rel="stylesheet" href="public/style.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="public/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/assets/favicon-16x16.png">
  </head>
  <body>
    <div class="loader" id="loader">
      <div class="wrapper">
        <div class="planet"></div>
        <div class="moon"></div>
      </div>
      <div class="loading">
        <p>LOADING</p>
      </div>
    </div>

    <div class="everything" id="everything">
      <div class="notearth">
        <div class="header-wrapper">
          <div class="header">
            <h1 class="logo">Ste<span class="flicker">lla</span></h1>
            <h3 class="slogan">Worldwide Anonymous Conferencing!</h3>
          </div>
          
        </div>
        <div class="fields">
          <input
            type="text"
            placeholder="Pick a username"
            class="username"
            id="uname"
            spellcheck="false"
            maxlength="20"
          />

          <div class="btnwrapper">
            <div class="btna">
              <button class="broadcast" id="broadcast">
                  <img
                    src="public/assets/satellite.png"
                    alt="satellite"
                    class="satellite"
                  />
              </button>
              <p class="broadcasttext">Create a room</p>
            </div>

            <div class="btnb">
              <button class="watch" id="watch">
                  <img
                    src="public/assets/astronaut.png"
                    alt="astronaut"
                    class="astronaut"
                  />
              </button>
              <p class="watchtext">Join a room</p>
            </div>
          </div>
        </div>
      </div>
      <div class="earthdiv">
        <canvas class="earth"></canvas>
      </div>
    </div>

    <script type="module" src="public/earth.js"></script>
  </body>
</html>
